<!-- all template files that are not part of root 
break up your ejs file in multiple files to include it in single files to not duplicate your code -->

<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>

        </ul>
    </nav>
</header>