<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My great application</title>
</head>
<header>
    <h1>CAM Software</h1>
</header>
<body>
    Before
    <br>
    <%- body%> <!-- include everything else in this body page of our server -->
    <br>
    After
</body>
</html>