<!-- underscore express that this is a partial file -->
<div class="form-row">
    <!-- Publish Date element -->
    <div class="form-item">
        <label>Name</label>
        <input type="text" name="name" value="<%= author.name %>">
    </div>
</div>
<!-- body.name = input of the server -->